<div class="form">
  <form (ngSubmit)="onSubmit()">

    <mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>הכנס מייל</ng-template>
          <mat-form-field>
            <mat-label>שם</mat-label>
            <input type="text" id="email" [(ngModel)]="user.email" matInput placeholder="@gmail.com"
              formControlName="firstCtrl" required>
          </mat-form-field>
          <div>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>מלא סיסמא</ng-template>
          <mat-form-field>
            <mat-label>סיסמא</mat-label>
            <input type="password" id="password" [(ngModel)]="user.password" matInput formControlName="secondCtrl"
              placeholder="סיסמא" required>
          </mat-form-field>
        </form>
      </mat-step>

      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>מלא טלפון</ng-template>
          <mat-form-field>
            <mat-label>טלפון</mat-label>
            <input type="text" id="text" [(ngModel)]="user.phone" matInput formControlName="secondCtrl"
              placeholder="טלפון" required>
          </mat-form-field>
        </form>
      </mat-step>



      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>מלא שם משפחה</ng-template>
          <mat-form-field>
            <mat-label>שם משפחה</mat-label>
            <input type="text" id="text" [(ngModel)]="user.lastName" matInput formControlName="secondCtrl"
              placeholder="שם משפחה" required>
          </mat-form-field>
        </form>
      </mat-step>

      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>מלא שם פרטי</ng-template>
          <mat-form-field>
            <mat-label>שם פרטי</mat-label>
            <input type="text" id="password" [(ngModel)]="user.firstName" matInput formControlName="secondCtrl"
              placeholder="שם פרטי" required>
          </mat-form-field>
        </form>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>לאישור</ng-template>
        <p>You are now done.</p>
        <div>
          <button mat-button type="submit"> To submit </button>

        </div>
      </mat-step>
    </mat-stepper>

  </form>

</div>