<div class="form">
  <form (ngSubmit)="onSubmit()">
    <mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>הכנס מייל</ng-template>
          <mat-form-field>
            <mat-label>שם</mat-label>
            <input type="text" id="email" [(ngModel)]="user.email" name="email" matInput placeholder="@gmail.com"
              formControlName="firstCtrl" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>מלא סיסמא</ng-template>
          <mat-form-field>
            <mat-label>סיסמא</mat-label>
            <input type="password" id="password" [(ngModel)]="user.password" matInput formControlName="secondCtrl"
              placeholder="סיסמא" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
          <button mat-button type="submit"> To submit </button>

        </div>
      </mat-step>
    </mat-stepper>
  </form>
</div>